{% load static %}
<html lang="en">
<head>
    <title>Progress Bar</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'progress_bar/progress.js' %}"></script>

</head>
<body>
    <h1>Progress Bar Example</h1>
    <button id="start-task-btn">Start New Task</button>

    <div id="progress-container"></div>

    <script>
       const startTaskUrl = '{% url "start_task" %}';
       const csrfToken = '{{ csrf_token }}';
    </script>
</body>
</html>
